 body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;   
    color: white; 
    font-size: 1.5rem;
    font-weight: bold;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    background-color:#8269dd;;
}
ul a{
    padding:  0.5rem;
}
ul a:hover {
    color: black;
}

.brand{
    margin: 1.2rem;
}

ul, li{
    display: flex;
    padding: 0 1rem;
}

.icon-hidden{
    display: none;
    padding: 0.5rem;
    margin: 0 0.5rem;
}

.icon-hidden:hover {
    background-color: white;
    color: #B0748E;

    border-radius: 0.5rem;
}

main{
    background-color: white;
}

#welcome{
    height: 90vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    /* grid-template-columns: 1fr 1fr;
    flex-direction: column; */
    align-items: center;
    justify-content: center;
    /* margin: 2rem 1rem 2rem 1rem; */
}
.column{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    width: 90vw;
}

#welcome p{
    color: #030303;
    font-size: 1.2rem;
    /* margin: 0 1rem 2.5rem 1rem; */
}

.button{
    color: white;
    background-color: #8269dd;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    max-width: 6rem;
}

#welcome .right{
    font-family: 'Georama', sans-serif;
    width: 80%;
}

.animation{
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.button:hover{
    color: white;
    background-color: #352083;
}

#what{
    background: #8269dd; 
    padding: 0.8rem;
    margin: 1rem 0 1rem 0;
}

#what .title{
    color: #030303;
    display: flex;
    justify-content: center;
    font-size: 4rem;
    font-weight: bolder;
    margin: 0.5rem 0 .05rem 0;
}

#welcome .welcome-image{
    max-width: 80%;
}

.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0 2rem 0;
}

h5{
    font-size: 2rem;
}

.project{
    color: white;
    width: 45vw;
    height: 45vh;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    font-weight: bolder;
    font-size: 1.2rem;
    border-radius: 10px;
    margin: 2rem 1rem 2rem 1rem;
}

.project-bottom{
    margin: 2rem 0;
}

.project-bottom .button{
    margin: 0 1rem;
}

.tech{
    color: #352083;
    margin: 0.5rem;
    padding: 0 0.5rem;
    background-color: white;
    font-style: italic;
    border-radius: 20px;
    font-size: 0.8rem;
}

.description{
    padding: 1rem;
}
.tbug{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) , url('../images/tbug.png') center center;
    background-size: cover;
}

.tbug:hover{
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)) , url('../images/tbug.png') center center;
    background-size: cover;
}

.newsletter{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) , url('../images/newsletter.jpg') center center;
    background-size: cover;
}

.newsletter:hover{
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)) , url('../images/newsletter.jpg') center center;
    background-size: cover;
}

.blog{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) , url('../images/KaizenCouple.jpg') center center;
    background-size: cover;
}

.blog:hover{
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)) , url('../images/KaizenCouple.jpg') center center;
    background-size: cover;
}

.mj{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) , url('../images/mj.jpg') center center;
    background-size: cover;
}

.mj:hover{
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)) , url('../images/mj.jpg') center center;
    background-size: cover;
}

#contact{
    background: rgb(255,255,255);
    /* background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(176,116,142,1) 100%);  */
    height: 80vh;
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#contact h2{
    color: #352083;
    font-size: 4rem;
    font-weight: bolder;
}

#contact button{
    margin: 0 1rem;
    background-color: #8269dd;
    width: 5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
}

#contact button:hover{
    color: white;
    background-color: #352083;
}


form{
    display: flex;
    flex-direction: column;
    width: 40vw;
    font-size: 1.2rem;
}

input{
    padding: 0.5rem;
}

input, textarea{
    border: 1px solid grey;
    border-radius: 5px;
    margin: 0 0 1rem 0;
}

button{
    width: 4rem;
    padding: 0.5rem;;
    background-color: #8269dd;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icons i{
    color: #8269dd;
    font-size: 1.2rem;
}

.icons i:hover{
    font-size: 1.8rem;
}


@media screen and (max-width : 1050px){
    .projects{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .project{
        width: 70vw;
    }
    /* #welcome .welcome-image{
        max-width: 20vw;
    } */
}

@media screen and (max-width : 800px){
    nav ul{ display: none;}
    .icon-hidden{
        display: block;
    }
    /* #welcome .welcome-image{
        width: 30vw;
    } */
    .icon-hidden {
        padding: 0.5rem;
        margin: 0.5rem;
    }
}

@media screen and (max-width : 700px){

    .project{
        width: 90vw;
    }
    /* #welcome .welcome-image{
        width: 36vw;
    } */
    form{
        width: 75vw;
    }
    
    .icon-hidden {
        padding: 0.5rem;
        margin: 0.5rem;
    }
}


@media screen and (max-width : 500px){

    .project{
        font-size: 1rem;
    }

    .button{
        font-size: 0.8rem;
    }
    form{
        width: 75vw;
    }

    /* #welcome .welcome-image{
        width: 40vw;
    } */
    .icon-hidden {
        padding: 0.5rem;
        margin: 0.5rem;
    }
}